---
name: "Build, Test, and Deploy"

permissions: read-all

on:
  push:
    branches: [ main ]

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Display disk space (before)
        run: df -h

      - name: Node cleanup
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune --all --force

      - name: Display disk space (after)
        run: df -h

      - uses: actions/checkout@v5

      - uses: cachix/install-nix-action@v31

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@b426b118b6dc86d6952988d396aa7c6b09776d08  # TODO: Switch to a numbered version after next release
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/devenv.lock') }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          gc-max-store-size-linux: 5G
          # do purge caches
          purge: true
          # purge all versions of the cache
          purge-prefixes: nix-${{ runner.os }}-
          # created more than this number of seconds ago
          purge-created: 0
          # or, last accessed more than this number of seconds ago
          # relative to the start of the `Post Restore and save Nix store` phase
          purge-last-accessed: 0
          # except any version with the key that is the same as the `primary-key`
          purge-primary-key: never
          # include cargo paths in the cache
          paths: |
            ~/.cargo/bin
            ~/.cargo/git/db
            ~/.cargo/registry
            target/

      - uses: cachix/cachix-action@v16
        with:
          name: devenv

      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv

      - name: Build the devenv shell and run any pre-commit hooks
        run: devenv test

      - name: Build project and push to docker registry
        run: devenv tasks run container:registry
        env:
          REGISTRY_API_KEY: ${{ secrets.REGISTRY_API_KEY }}
